<!doctype html>
<html ng-app>

<head>



    <meta charset="utf-8">
    <title>Introduction au Framework AngularJs</title>

    <meta name="description" content="Introduction au Framework AngularJs">
    <meta name="author" content="Maxime Warnier">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/reveal.min.css">
    <link rel="stylesheet" href="css/theme/beige.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
    document.write('<link rel="stylesheet" href="css/print/' + (window.location.search.match(/print-pdf/gi) ? 'pdf' : 'paper') + '.css" type="text/css" media="print">');
    </script>

    <!--[if lt IE 9]>
        <script src="lib/js/html5shiv.js"></script>
        <![endif]-->
</head>

<body>

    <div class="reveal">

        <!-- Any section element inside of this container is displayed as a slide -->
        <div class="slides">


            <section>
                <q>« un grand pouvoir implique de grandes responsabilités »</q>
                <img src="images/spaguetti.jpg" class="fragment fade-in" />
            </section>

            <section>
                <h2>AngularJs</h2>
                <img src="images/angular.png" alt="">
                <h3>une approche moderne du développement Web</h3>
                <!-- <div><img src="images/twitter.gif" alt="">@maxdow</div> -->
            </section>

            <section>
                <h2>Les Concepts de Base </h2>
                <ul>
                    <li>Two-Way data binding</li>
                    <li>Directives / Templates</li>
                    <li>Injection de dépendance</li>
                    <li>...</li>
                </ul>
            </section>
            <section>
                <h2>Two Way Data binding</h2>
                <img src="images/two-way.jpg" alt="">
            </section>
            <section>
                <img src="images/one-way-db.png" alt="">
            </section>

            <section>
                <img src="images/two-way-db.png" alt="">
            </section>

            <section ng-controller="DataBindCtrl">
                <div>
                    <h3>Vue</h3>
                    <pre>
                        <code data-trim data-language="html" ng-bind="dataBindExample"></code>
                    </pre>
                </div>
                <input ng-model='model1' />Hello {{model1}}!
            </section>

            <section ng-controller="DataBindCtrl">

                <div style="display:inline-block">
                    <h3>Vue</h3>
                    <pre>
                        <code data-trim data-language="html" ng-bind="dataBindExample2_vue"></code>
                    </pre>
                </div>

                <div style="display:inline-block">
                    <h3>Controlleur</h3>
                    <pre>
                        <code data-trim class="javascript">
function DataBindCtrl($scope) {
  $scope.model2 = "World";
}
                        </code>
                    </pre>
                </div>
                <div>
                    <input ng-model='model2' />Hello {{model2}}!
                </div>
            </section>

            <section>
               Le <strong>modèle</strong> reste indépendant de la <strong>vue</strong>
            </section>

            <section>
                <h2>Les Directives</h2>
                <img src="images/engrenage.jpg" alt="">
            </section>

            <section style="margin-top: -100px;" ng-controller="DirectiveTestCtrl">
            <h2>ng-show ng-class</h2>
            <br/>
            <div>
                <h4>Vue</h4>
                <pre>
                    <code data-trim data-language="html" ng-bind="exemple_vue"></code>
                </pre>
            </div>
            <div >
                <h4>Controlleur</h4>
                <pre>
                    <code data-trim class="javascript">
function DirectiveTestCtrl($scope) {

    $scope.messageCount = 0 ;
    $scope.ajouteMessage = function(){
        $scope.messageCount++;
    }
}
                    </code>
                </pre>
            </div>

                <button ng-click="ajouteMessage()"> + </button>
                {{messageCount}}
                <div ng-show="messageCount > 3" ng-class="{alert: messageCount > 5}">Il y a {{messageCount}} messages</div>

            </section>
            <section style="margin-top: -100px;" ng-controller="DirectiveTest2Ctrl">
            <h2>ng-repeat</h2>
            <br/>
            <div>
                <h4>Vue</h4>
                <pre>
                    <code data-trim data-language="html" ng-bind="exemple_vue"></code>
                </pre>
            </div>
            <div >
                <h4>Controlleur</h4>
                <pre>
                    <code data-trim class="javascript">
function DirectiveTestCtrl($scope) {

    $scope.messageListe = ["message1","message2"];

    $scope.ajouteMessage = function(){
        $scope.messageListe.push("message"+parseInt(Math.random()*10,10));
    }
}
                    </code>
                </pre>
            </div>

                <button ng-click="ajouteMessage()"> + </button>
            <div class="example-repeat">
                <ul>
                    <li ng-repeat="message in messageListe track by $index">{{message}}</li>
                </ul>
            </div>


            </section>
            <section>
                <h3>Une directive peut être</h3>
                <ul>
                    <li>Un attribut : <pre><code><span my-directive></span></code></pre></li><br/>
                    <li>Une classe : <pre><code><span class="my-directive: expression;"></span></code></pre></li><br/>
                    <li>Un element : <pre><code><my-directive></my-directive></code></pre></li><br/>
                    <li>Un commentaire : <pre><code><!-- directive: my-directive expression --></code></pre></li>
                </ul>
            </section>

            <section>
                <h2>Services et injection de dépendance</h2>
                <img src="images/injection.jpg" alt="">
            </section>
            <section>
            <section>
            <img src="images/injectiond.png" alt="">
            </section>
            <h3>Injection possible dans</h3>
                <ul>
                    <li>Controlleur</li>
                    <li>Service</li>
                    <li>Directive</li>
                    <li>Filtre</li>
                </ul>
            </section>

<section>
    <h3>Exemples</h3>
    <section>

        <pre>
            <code>

    angular.module('myModule',[])
      .value('myValue', 'Hello World')
      .controller('myController', function($scope, myValue) {

        $scope.value = myValue;

      });
            </code>
        </pre>
    </section>
    <section>

        <pre>
            <code>

    angular.module('myModule',['ngResource'])
      .controller('myController', function($scope,$resource) {

        var User = $resource('/user/:userId', {userId:'@id'});

        User.get({userId:123}, function(user) {
          user.abc = true;
          user.$save();
        });

      });
            </code>
        </pre>
    </section>
</section>

    <section>
        <img src="images/modules.jpg" alt="">
    </section>
    <section>
        <img src="images/AngularJS-features.png" alt="">
    </section>

    <section>
        @maxdow
    </section>

        </div>

    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.min.js"></script>


    <script>
    var cblocks = document.querySelectorAll("pre code");

    if (cblocks.length) {
        for (var i = 0, len = cblocks.length; i < len; i++) {
            var dom = cblocks[i];
            var html = dom.innerHTML;
            html = html.replace(/</g, "&lt;").replace(/>/g, "&gt;");
            dom.innerHTML = html;
        }
    }
    // Full list of configuration options available here:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
        controls: false,
        progress: true,
        history: true,
        center: true,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: 'fade', //Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none


        // Optional libraries used to extend on reveal.js
        dependencies: [{
            src: 'lib/js/classList.js',
            condition: function() {
                return !document.body.classList;
            }
        }, {
            src: 'plugin/markdown/marked.js',
            condition: function() {
                return !!document.querySelector('[data-markdown]');
            }
        }, {
            src: 'plugin/highlight/highlight.js',
            async: true,
            callback: function() {
                hljs.initHighlightingOnLoad();
            }
        }]
    });

    function DataBindCtrl($scope) {

        $scope.model2 = "World";

        $scope.dataBindExample = "<input ng-model='model1'/>\nHello {{model1}}!";
        $scope.dataBindExample2_vue = "<div ng-controller='DataBindCtrl'>\n  <input ng-model='model2'/>\n  Hello {{model2}}!\n</div>";
    }

    function DirectiveTestCtrl($scope) {

        $scope.messageCount = 0 ;


        $scope.ajouteMessage = function(){
            $scope.messageCount++;
        }

        $scope.exemple_vue = '<div ng-controller="DirectiveTestCtrl">\n  <button ng-click="ajouteMessage()"> + </button>\n'+
                '  {{messageCount}}\n'+
                '  <div ng-show="messageCount > 3" ng-class="{alert: messageCount > 5}">\n    Il y a {{messageCount}} messages\n  </div>\n</div>';
    }

    function DirectiveTest2Ctrl($scope){
        $scope.messageListe = ["message1","message2"];

        $scope.ajouteMessage = function(){
            $scope.messageListe.push("message"+parseInt(Math.random()*10,10));
        }

        $scope.exemple_vue = '<ul>\n'+
            '  <li ng-repeat="message in messageListe track by $index">{{message}}</li>\n'+
        '</ul>';

    }

    </script>
    <script src="js/angular.min.js"></script>
</body>

</html>
